body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    cursor: default;
    user-select: none;
}

.heading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    margin: 50px 0;
}

.board {
    display: flex;
    flex-direction: column;
}

.board-row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.letter-square {
    font-size: 36px;
    font-weight: bold;
    border: black solid 3px;
    padding: .5em;
    height: 36px;
    width: 36px;
    margin: 8px 4px;
}

.length-adjust{
    margin: 25px;
}

.length-controls{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.length-label{
    font-size: 42px;
}

.word-length {
    font-size: 32px;
    align-content: center;
    margin: 0 10px;
}

.increase-btn{
    font-size: large;
    width: 28px;
}

.decrease-btn{
    font-size: larger;
    width: 28px;
}

.start-btn{
    background-color: green;
    color: white;
    font-size: 48px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 15px;
}

.absent {
    color: white;
    background-color: grey;
}

.present {
    color: white;
    background-color: rgb(150, 150, 0);
}

.correct {
    color: white;
    background-color: green;
}

.keyboard{
    margin-top: 50px;
}

.keyboard-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keyboard-key{
    border: darkgray solid 1px;
    border-radius: 10%;
    padding: .7em;
    margin: 2px;
    width: 15px;
    align-content: center;
}

.enter{
    width: 55px;
}

.backspace{
    width: 40px;
}

.github-logo{
    position: fixed;
    left: 97%;
    top: 95%;
    width: 50px;
}